html {
  box-sizing: border-box;

  background-color: #dbd6cf;
  color: #fff;

  font: normal 100%/1.5 Arial;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  padding: .6em 0;
  border-top: medium solid #595652;
  border-bottom: medium solid #595652;

  text-align: center;

  background-color: #79756f;
}

h1 {
  margin: 0;

  font-family: Bevan, serif;
  text-align: center;
}

nav {
  margin: 0 .3em;
  padding: 0 .6em;
}

ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
  text-align: center;
}

li {
  display: inline-block;
}

a, a:visited {
  margin-bottom: .3em;
  padding: .5em .6em;
  border-radius: .3em;
  display: inline-block;

  background-color: #713837;
  color: #fff;

  text-decoration: none;
}

a:hover {
  background-color: #f33;
}
