html {
  box-sizing: border-box;

  background-color: #dbd6cf;
  color: #fff;

  font-family: "Arial";
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;

  margin: 0;
  padding: 0;
}

header {
  padding: .75em 0;
  border-top: medium solid #595652;
  border-bottom: medium solid #595652;
  text-align: center;

  background-color: #79756f;
}

h1 {
  font-family: "Bevan";
}

ul {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

li {
  padding: .6em;
  display: inline-block;

  background-color: #713837;
}

a, a:visited {
  text-decoration: none;
  color: #fff;
}
